{% extends "layout.html" %}
{% block content %}

    <div class="left-content">
        <div class="container">
                    <a href="{{ url_for('account', active_tab='orders', id=user.id) }}"  class="btn btn-outline-dark btn-lg btn-block {{ 'active' if active_tab == 'orders' }}">Your Orders</a>
                    <a href="{{ url_for('account', active_tab='favourites', id=user.id) }}" class="btn btn-outline-dark btn-lg btn-block {{ 'active' if active_tab == 'favourites' }}">Favourites</a>
                    <a href="{{ url_for('account', active_tab='address', id=user.id) }}"  class="btn btn-outline-dark btn-lg btn-block {{ 'active' if active_tab == 'address' }}">Your Address</a>
                    <a href="{{ url_for('account', active_tab='manage', id=user.id) }}"  class="btn btn-outline-dark btn-lg btn-block {{ 'active' if active_tab == 'manage' }}">Manage Account</a>
        </div>
    </div>
    <article class="main-content">
        {% if active_tab == 'favourites' %}
            <div class="container border">
                {% for product in favourite_products %}
                    <fieldset class="product-border">
                        <div class="left-content" style="padding:10;">
                            <img class="product-image" src="{{ url_for('static', filename='pictures/' +product.image) }}">
                        </div>
                        <div class="main-content" style="padding:10;">
                            <h1><a class="product-title" href="{{ url_for('this_product', id=product.id) }}">{{ product.name }}</a></h1>
                            <h3>Price: {{ "{:.2f}".format(product.price / 100) }}</h3>
                        </div>
                    </fieldset>
                {% endfor %}
            </div>
        {% elif active_tab == 'orders' %}
            <span>Your orders</span>
        {% elif active_tab == 'address' %}
            <form method="POST" novalidate="novalidate">
                {{ address_form.hidden_tag() }}
                <fieldset class="form-group border p-5">
                    <div class="row">
                        <div class="form-group col">
                            {{ address_form.first_name.label() }}

                            {% if address_form.first_name.errors %}
                                {{ address_form.first_name(class="form-control form-control-lg is-invalid", placeholder="first name") }}
                                <div class="invalid-feedback">
                                    {% for error in address_form.first_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ address_form.first_name(class="form-control form-control-lg", placeholder="first name") }}
                            {% endif %}
                        </div>
                        <div class="form-group col">
                            {{ address_form.last_name.label() }}

                            {% if address_form.last_name.errors %}
                                {{ address_form.last_name(class="form-control form-control-lg is-invalid", placeholder="last name") }}
                                <div class="invalid-feedback">
                                    {% for error in address_form.last_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ address_form.last_name(class="form-control form-control-lg", placeholder="last name") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ address_form.street.label() }}

                        {% if address_form.street.errors %}
                            {{ address_form.street(class="form-control form-control-lg is-invalid", placeholder="street name") }}
                            <div class="invalid-feedback">
                                {% for error in address_form.street.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ address_form.street(class="form-control form-control-lg", placeholder="street name") }}
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            {{ address_form.street_number.label() }}

                            {% if address_form.street_number.errors %}
                                {{ address_form.street_number(class="form-control form-control-lg is-invalid", placeholder="number") }}
                                <div class="invalid-feedback">
                                    {% for error in address_form.street_number.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ address_form.street_number(class="form-control form-control-lg", placeholder="number") }}
                            {% endif %}
                        </div>
                        <div class="form-group col">
                            {{ address_form.apartment_number.label() }}

                            {% if address_form.apartment_number.errors %}
                                {{ address_form.apartment_number(class="form-control form-control-lg is-invalid", placeholder="number") }}
                                <div class="invalid-feedback">
                                    {% for error in address_form.apartment_number.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ address_form.apartment_number(class="form-control form-control-lg", placeholder="number") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ address_form.city.label() }}

                        {% if address_form.city.errors %}
                            {{ address_form.city(class="form-control form-control-lg is-invalid", placeholder="city") }}
                            <div class="invalid-feedback">
                                {% for error in address_form.city.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ address_form.city(class="form-control form-control-lg", placeholder="city") }}
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            {{ address_form.postal_code.label() }}

                            {% if address_form.postal_code.errors %}
                                {{ address_form.postal_code(class="form-control form-control-lg is-invalid", placeholder="postal code") }}
                                <div class="invalid-feedback">
                                    {% for error in address_form.postal_code.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ address_form.postal_code(class="form-control form-control-lg", placeholder="postal code") }}
                            {% endif %}
                        </div>
                        <div class="form-group col">
                            {{ address_form.country.label() }}

                            {% if address_form.country.errors %}
                                {{ address_form.country(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in address_form.country.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ address_form.country(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ address_form.submit(class="btn btn-outline-primary", value="Update Address") }}
                    </div>
                </fieldset>
            </form>

        {% elif active_tab == 'manage' %}
        <div class="container float-left" style="width: 50%">
            <div class="row">
                <form method="POST" novalidate="novalidate">
                    {{ email_form.hidden_tag() }}
                    <div class="form-group">
                        {{ email_form.email.label() }}

                        {% if email_form.email.errors %}
                            {{ email_form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in email_form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ email_form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ email_form.submit(class="btn btn-outline-primary", value="Update email") }}
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    </article>

{% endblock content %}