{% extends "layout.html" %}
{% block content %}
<div class="container" style="width:40%">
    <fieldset class="border p-5 m-2">
        <form method="POST" novalidate="novalidate">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.current_password.label(class='form-label') }}

                {% if form.current_password.errors %}
                    {{ form.current_password(class='form-control is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.current_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.current_password(class='form-control') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.new_password.label(class='form-label') }}

                {% if form.new_password.errors %}
                    {{ form.new_password(class='form-control is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.new_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.new_password(class='form-control') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirm_new_password.label(class='form-label') }}

                {% if form.confirm_new_password.errors %}
                    {{ form.confirm_new_password(class='form-control is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_new_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_new_password(class='form-control') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class='btn btn-outline-primary') }}
            </div>
        </form>
    </fieldset>
</div>
{% endblock content %}