{% extends "layout.html" %}
{% block content %}

<div>
    <div class="left-content">
    </div>
    <article class="main-content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product name</th>
                    <th scope="col">price</th>
                    <th scope="col">quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for product_id in cart.keys() %}
                    {% set product = Product.query.filter_by(id=product_id).first() %}
                    <tr>
                        <th class="row">{{ product.name }}</th>
                        <td>{{ product.price }}</td>
                        <td>{{ cart[product_id] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </article>
</div>




{% endblock content %}