{% extends "layout.html" %}
{% block content %}

<div class="container">
    <form method="POST">
        {{ form.hidden_tag() }}
        <table class="table table-bordered">
            <thead>
                <tr>
                  <td scope="col"></td>
                  <td scope="col">product</td>
                  <td scope="col">price</td>
                  <td scope="col">quantity</td>
                </tr>
            </thead>
            <tbody>
                {% for l in form.quantities %}
                    {% set product = Product.query.filter_by(id=l.form.product_id.data).first() %}

                    {{ l.hidden_tag() }}
                    <tr>
                        <td><img src="{{ url_for('static', filename='pictures/' + product.image) }}" class='img-thumbnail rounded product-image'></td>
                        <th scope="row">{{ product.name }}</th>
                        <td>{{ "{:.2f}".format(product.price / 100) }}</td>
                        <td>{{ l.form.quantity(class='form-control form-control-lg') }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    {{ form.submit(class='btn btn-outline-success btn-lg') }}
                </tr>
            </tbody>
        </table>
    </form>
</div>




{% endblock content %}